/** Styles files **/

/********** Top Defaults **********/
* {
  box-sizing: border-box;
  font-family : "helvetica"
}
h1 {
  margin-bottom: 20px;
  font-size: 175%;
  text-align: center;
  }

p {
  border: 1px solid black;
  background-color: mediumaquamarine;
  width: 90%;
  height: 150px;
  margin-top: auto;
  margin-right: auto;
  margin-left: 0px;
  margin-bottom: auto;
  font-family: Helvetica;
  color: black;
}


/* Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop Mode ** col-dt-SPAN ********/
@media (min-width: 992px) {
  .col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, .col-dt-5, .col-dt-6, .col-dt-7, .col-dt-8, .col-dt-9, .col-dt-10, .col-dt-11, .col-dt-12 {
    float: left;
    border: 1px solid white;
  }
  .col-dt-1 {
    width: 8.33%;
  }
  .col-dt-2 {
    width: 16.66%;
  }
  .col-dt-3 {
    width: 25%;
  }
  .col-dt-4 {
    width: 33.33%;
  }
  .col-dt-5 {
    width: 41.66%;
  }
  .col-dt-6 {
    width: 50%;
  }
  .col-dt-7 {
    width: 58.33%;
  }
  .col-dt-8 {
    width: 66.66%;
  }
  .col-dt-9 {
    width: 74.99%;
  }
  .col-dt-10 {
    width: 83.33%;
  }
  .col-dt-11 {
    width: 91.66%;
  }
  .col-dt-12 {
    width: 100%;
  }
}

/********** Tablet Mode **** col-tb-SPAN ******/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left;
    border: 1px solid white;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
}
#p1 {
  background-color: maroon;
  color: white;
  float:right;
  margin-right: 29px;
  margin-top: 10px;
  text-align: center;
  height:20px;
  width:100px;
  
}
#pdesc {
    float:top;
    padding: 20px;
    margin-top:10px;
    
    
}#p2 {
  background-color: darkgreen;
  color: white;
  float:right;
  margin-right: 29px;
  margin-top: 10px;
  text-align: center;
  height:20px;
  width:100px;
  
    
}
#p3 {
  background-color: darkblue;
  color: white;
  float:right;
  margin-right: 29px;
  margin-top: 10px;
  text-align: center;
  height:20px;
  width:100px;
}
  
